$anim-duration : 200ms;

@keyframes button-hover {
    0% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.17);
    }
}

.action-menu {
    width: 30%;

    display:flex;
    flex-direction: column;
    align-items: center;
    
    &__button{
        height: 3rem;
        
        position: relative;
        top: 20%;

        padding:2rem;

        display: flex;
        align-items: center;

        font-size: 2rem;
        font-family: 'Open Sans', 'sans-serif';
        font-weight: 700;
        color: $color-secondary;

        background-color: $color-accent;

        border-radius: 1.5rem;
        
        user-select: none;

        margin: 2rem 0 2rem 0;

        transition: $anim-duration all;

        
        &--disabled {
            pointer-events: none;
            opacity: 0.7;
        }
        
        &:hover {
            animation: button-hover;
            animation-duration: $anim-duration;
            transform: scale(1.17);
            top: 19.5%;
        }
        
        &:active {
            // transform: scale(1.25);
            top: 20%;
        }
        
        &:first-child {
            margin-top:0;
        }
        &:last-child {
            margin-bottom: 0;
        }
        
    }
    
    
}