*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    background-color: $color-secondary;
}  
.container {
    
    width: 60vw;
    height: 100vh;

    background-color: $color-secondary;

    margin: 0 auto;

    display: flex;

    & > div > button {
        font-size: 1.6rem;
    }

}