@keyframes hide-big {
    0% {
        padding-top: 6rem;
        height: 70vh;
    }
    100% {
        padding-top: 0;
        height: 0vh;
    }
}

@keyframes show-small {
    0% {
        right: -22vw;
    }   
    100% {
        right: 0vw;
    }
}

@keyframes show-content {
    0% {
        right: -60vw;
    }
    100% {
        right: 0;
    }
}

@keyframes hide-content {
    0% {
        right: 0vw;
    }
    100% {
        right: 120vw;
    }
}

.side-bar {
    z-index: 2;

    position: fixed;
    top: 0vh;
    right: 0vw;

    padding: 6rem;

    width: 20vw;
    height: 100vh;

    background-color: $color-secondary;

    box-shadow: -1rem 0rem 2rem #AAA;

    overflow: hidden;

    &__content {
        position: relative;
        right: 0vw;
        
        &--show {
            animation: show-content;
            animation-duration: 400ms;
            animation-timing-function: ease-in-out;
            right: 0vw;
        }

        &--hide {
            animation: hide-content;
            animation-duration: 400ms;
            animation-timing-function: ease-in-out;
            right: 120vw;
        }
    }

    &__title {
        font-size: 3rem;
        font-family: 'Karla', 'sans-serif';
        color: $color-accent;
        
        user-select: none;
        
        &--hide { 
            left: -60vw
        }
    }

    &__text {
        margin-top: 2rem;
        line-height: 3rem;

        font-size: 1.6rem;
        font-family: 'Karla', 'sans-serif';
        color: #303030;
        text-align: justify;
        
        white-space: pre-line;
        
        user-select: none; 

        & a {
            display: block;
            
            font-size: 1.6rem;
            font-family: 'Karla', 'sans-serif';
            font-weight: 700;
            color: #303030;
            text-align: justify;
            text-decoration: none;
        }
    }

    &__next {
        position: absolute;
        bottom: 6rem;
        right: 6rem;

        display:flex;
        
        & > span {
            position: relative;
            top: 0;

            padding: .5rem;
            padding-right: 0;

            font-size: 4rem;
            color:$color-accent;

            user-select: none;

            transition: 200ms all;

            &:hover {
                top: -.5rem;   
            }
            &:active {
                top: -.2rem;   
            }
        }

        & > p {
            position: relative;
            top: 0;

            align-self: center;
            
            padding: .5rem;
            
            font-family: 'Karla', 'sans-serif';
            font-size: 2rem;
            color:$color-accent;

            user-select: none;

            transition: 200ms all;

            &:hover {
                top: -.5rem;   
            }
            &:active {
                top: -.2rem;   
            }
        }
    }

    &--show {
        animation: show-small;
        animation-duration: 300ms;
        animation-timing-function: ease-in-out;
    }

    &--hide {
        transition: 300ms;
        right:-22vw;
    }

    &--is-modal {
        right: unset;
        top: 8vh;
        left: 22.5vw;
        width: 60vw;
        height: 70vh;

        & > div > h1 {
            font-size: 5rem;
        }

        & > div > p {
            font-size: 2rem;
        }
    }

    &--hide-modal {
        animation: hide-big;
        animation-duration: 300ms;
        animation-timing-function: ease-in-out;

        left: 22.5vw;
        width: 60vw;
        height: 0;
        padding: 0 6rem 0 6rem;
    }

}